---
import type { GetStaticPaths } from "astro";
import type { PokemonListResponse } from "../../interfaces/pokemon-list.response";

import PokemonsCard from "@components/pokemons/PokemonsCard.astro";
import MainLayout from "@layouts/MainLayout.astro";


export const getStaticPaths = (async () => {
    const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
    const { results } = await resp.json() as PokemonListResponse;
    
    return results.map(({name, url}) => {
        const id = url.split("/").at(-2);
        return{
            params: {
            id: id
        },
        props: {
            name:name,
            url:url
        },
    };
    });
}) satisfies GetStaticPaths;

const {id} = Astro.params;
const {url, name} = Astro.props;

const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`
---

<MainLayout title="Tú Pokemon">
    <section class="mt-10 mx-10 flex flex-col justify-center items-center">
        <div>
            <a href="/">Ir a Home</a>
            <h1 class="text-5xl capitalizer">{name}</h1>
        </div>
        <PokemonsCard
        name={name}
        url={url}
        isBig={true}
        />
        <audio controls class="mt-5">
        <source src={audioSrc} type="audio/ogg" />
        </audio>
    </section>
</MainLayout>